<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="#">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-end">
                {{#if rol}}
                <li class="nav-item">
                    <a class="nav-link px-2 text-white" href="/admin">Admin</a>
                </li>
                {{/if}}
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link px-2 text-white" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-white" href="/messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-white" href="/products/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-white" href="/users/current">Current</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                    aria-label="Search">
            </form>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Search</button>
                <a href="/sessions/logout" type="button" class="btn btn-warning">Logout</a>
            </div>
            {{else}}
            <div class="text-end">
                <a href="/sessions/login" type="button" class="btn btn-outline-light me-2">Login</a>
                <a href="/sessions/register" type="button" class="btn btn-warning">Sign-up</a>
            </div>
            {{/if}}
        </div>
    </div>
</nav>